/* ===========================
   CALENDÁRIO
=========================== */

#calendar {
    width: 100%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 15px;

    background: #f8fafc;
    border-radius: 15px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
}

/* ===========================
   CABEÇALHO
=========================== */

.fc .fc-toolbar {
    margin-bottom: 25px;
}

.fc .fc-toolbar-title {
    padding: 0 30px;
    color: #122f4a;
    font-size: 30px;
    font-weight: 700;
}

.fc-header-toolbar {
    justify-content: space-between !important;
}

/* ===========================
   BOTÕES
=========================== */

.fc .fc-button {
    background: #122f4a !important;
    border: none !important;
}

.fc .fc-button:hover {
    background: #1b456d !important;
}

.fc .fc-button-active {
    background: #2f6ea8 !important;
}

/* ===========================
   DIAS DA SEMANA
=========================== */

.fc-col-header-cell {
    background: #e7edf5;
}

.fc-col-header-cell-cushion {
    color: #122f4a;
    font-weight: bold;
    text-decoration: none !important;
}

/* ===========================
   LINHAS DO CALENDÁRIO
=========================== */

.fc-theme-standard td,
.fc-theme-standard th {
    border: 1px solid #b4bec9;
}

/* ===========================
   NÚMERO DOS DIAS
=========================== */

.fc-daygrid-day-number {
    color: #122f4a;
    font-weight: 600;
    text-decoration: none !important;
}

/* ===========================
   DIA ATUAL
=========================== */

.fc-day-today {
    background: #d9eaff !important;
}

/* ===========================
   HOVER
=========================== */

.fc-daygrid-day:hover {
    background: #edf5ff;
    cursor: pointer;
}