{% include "head.html" %}

<!-- #---------------- CALENDÁRIO ------------------# -->

<!-- CSS do FullCalendar -->
<link
    href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.css"
    rel="stylesheet"
>

<!-- Seu CSS -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/calendario.css') }}"
>


<div class="content">

    <div id="calendar"></div>

</div>


<!-- Permissão do usuário -->
<script>
    window.usuarioPodeEditar = {{ podeEditar | tojson }};
</script>


<!-- FullCalendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/locales-all.global.min.js"></script>


<!-- Seu JS -->
<script src="{{ url_for('static', filename='js/calendario.js') }}"></script>


{% include "footer.html" %}