{% include "head.html" %}

<!-- #---------------- CALENDÁRIO ------------------# -->

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.css"
>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/calendario.css') }}"
>


<div class="content">

    <div class="cabecalho-calendario">

        <div>

            <h1 class="titulo-calendario">
                Calendário
            </h1>

            <p class="subtitulo-calendario">
                Visualize as partidas programadas do Interclasse.
            </p>

        </div>


        <div class="acoes-calendario">

            <button
                type="button"
                class="btn-filtro-calendario"
                id="btnFiltroCalendario"
            >
                Filtrar
            </button>


            <button
                type="button"
                class="btn-limpar-filtro"
                id="btnLimparFiltro"
                style="display: none;"
            >
                Limpar filtro
            </button>

        </div>

    </div>


    <div
        id="filtrosAtivos"
        class="filtros-ativos"
        style="display: none;">
</div>

<div
    id="calendar"
    data-pode-editar="{{ podeEditar | lower }}"
></div>

<script>
    window.usuarioPodeEditar = {{ podeEditar|tojson }};
</script>


<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/locales-all.global.min.js"></script>


<script
    src="{{ url_for('static', filename='js/calendario.js') }}"
></script>


{% include "footer.html" %}