{% include "head.html" %}

{% include "flash.html" %}
{% block content %}

{% endblock %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<main class="card-container">
    
<div class="home-container">

    <div class="hero">

        <h1>🏆 Interclasse ETE MFL</h1>

        <p class="subtitulo">
            Sistema de gerenciamento do Interclasse da Escola Técnica Estadual Ministro Fernando Lyra.
        </p>

        {% if nivel == "Visitante" %}

        <div class="info-box visitante">

            <h2>Bem-vindo!</h2>

            <p>
                Você está navegando como <strong style="color: black;">Visitante</strong>.
            </p>

            <p>
                Faça login para cadastrar equipes, gerenciar alunos e utilizar todas
                as funcionalidades disponíveis.
            </p>

            <a href="/chaveamento" class="btn btn-primary">
                Ver Partidas
            </a>

        </div>



        {% else %}

        <div class="info-box usuario">

            <h2>Olá, {{ nome_usuario }}!</h2>

            <p>
                Você está conectado como
                <strong style="color: black;">{{ nivel }}</strong>.
            </p>

        </div>

        {% endif %}

        <hr style="visibility: hidden;">
            <h2>Partidas do Dia</h2>
            <div class="box-bullet" style="overflow: auto;">

                {% if partidas %}

                    {% for partida in partidas %}

                        {% if partida['fk_equipe_casa'] and partida['fk_equipe_visitante'] %}

                            <div class="header">

                                <div>
                                    <p>
                                        {{ partida['turma_casa'] }}
                                    </p>
                                </div>

                                <div>
                                    <p>
                                        VS
                                    </p>

                                    <small>
                                        {{ partida['fk_esporte'] }}
                                    </small>
                                </div>

                                <div>
                                    <p>
                                        {{ partida['turma_visitante'] }}
                                    </p>
                                </div>

                            </div>

                        {% endif %}

                    {% endfor %}

                {% else %}

                    <p style="text-align: center;">
                        Não há partidas programadas para hoje.
                    </p>

                {% endif %}

            </div>

    </div>

</div>
</main>

{% include "footer.html" %}